
header {  
    background-image: url(https://img.freepik.com/free-vector/blue-fluid-background-frame_53876-99019.jpg?size=626&ext=jpg&ga=GA1.1.609444847.1699661775&semt=sph);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1%;
    position: fixed;
    width: 100%;
    display: flex;

}


header picture img {  
  padding-left: 10%;
  width: 20% ;
  height: auto;
  max-width: 100%; 

}


/* Estilos del menú de navegación */
nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 5%;
  background-color: #2f5839;
  border-radius: 10px;
  padding: 10px;

}

/* Estilos de los enlaces del menú y efecto de animación */
  
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
  }
  
  a:nth-child(1) {width: 100px;}
  
  a:nth-child(2) {width: 110px;}
  
  a:nth-child(3) {width: 100px;}
  
  a:nth-child(4) {width: 180px;}
  
  nav .start-home,
  a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #01c79f;
  }
  
  nav .start-about,
  a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #01c79f;

  }
  
  nav .start-blog,
  a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #01c79f;

  }
  
  nav .start-portefolio,
  a:nth-child(4):hover~.animation {
    width: 160px;
    left: 330px;
    background-color: #01c79f;

  }
 
  @media only screen and (max-width: 600px) {
    header {
      padding: 5px;
    }
  
    header picture img {
      padding-left: 1em;
      width: 150px;
    }
  
    nav {
      width: 60%;
      padding-bottom: 4%;
    }
  
    nav a {
      font-size: 12px;
    }
  }