@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100&display=swap");

*,
html {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  display: grid;
  background-image: (359.8deg, rgb(245, 255, 253) 2.2%, rgb(136, 201, 116) 99.3%);


}

header {
  text-align: center;
  height: 100%;
  position: sticky;
  border: 0px solid red;
  background-image: linear-gradient(359.8deg, rgb(249, 255, 255) 2.2%, rgb(161, 218, 205) 99.3%);
}

header picture img {
  align-items: center;
  width: 200px;
  height: auto;
}

.menu-vertical {
  margin: 0em;
  padding: 1em;
  position: fixed;  
  width: 200px;
  height: 100svh;
  font-family: "Pacifico", cursive;
  size: 30px;
  color: rgb(76, 23, 146);
}

.menu-vertical a {
  font-family: "Pacifico", cursive;
  
  background-color: #eee;
  color: rgb(76, 23, 146);
  display: block;
  padding: 1em;
  text-decoration: none;
}

.menu-vertical a:hover {
  background-color: #ccc;
}

.menu-vertical a.active {
  background-color: #04aa6d;
  color: rgb(236, 225, 225);
}

main {
  margin-left: 350px;
  min-height: 100vh;
  background-color: rgb(217, 246, 223);
  text-align: center;
}

td img {
  text-align: center;
  border-radius: 30%;
  width: 200px;
  height: 200px;
}

td p {
  text-shadow: 2px 2px 4px rgb(235.255.202);
  text-align: left;
  padding: 20px;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
  padding: 0x;
  width: 100%;
}

.hidden {
  display: none;
}