@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100&display=swap");

*,
html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: wrap;

  position: relative;
  height: 100svh;
  box-sizing: border-box;

  height: 100svh;
}
header {
  background-image: url(https://img.freepik.com/free-vector/blue-fluid-background-frame_53876-99019.jpg?size=626&ext=jpg&ga=GA1.1.609444847.1699661775&semt=sph);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1%;
  position: fixed;
  width: 100%;
  display: flex;
}

header picture img {
  padding-left: 10%;
  width: 20%;
  height: auto;
  max-width: 100%;
}



.menu-vertical {
  margin: 0em;
  padding-top: 10em;
  position: fixed;
  width: 200px;
  height: 100svh;
  font-family: "Pacifico", cursive;
  size: 30px;
  color: rgb(76, 23, 146);
}

.menu-vertical a {
  font-family: "Pacifico", cursive;
  background-color: #eee;
  color: rgb(76, 23, 146);
  display: block;
  padding: 1em;
  text-decoration: none;
}

.menu-vertical a:hover {
  background-color: #ccc;
}

.menu-vertical a.active {
  background-color: #04aa6d;
  color: rgb(236, 225, 225);
}

main {
  display: flex;
  margin-left: 20em;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100vw;
  margin-top: 2em;
  margin-left:30%;
  padding: 10px;
  overflow-x: auto;

}

td {
  padding: 10px;
  text-align: center;
  

}
td img {
  text-align: center;
  border-radius: 30%;
  width: 100%;
  height: auto;
}

td p {
  text-shadow: 2px 2px 4px rgb(235.255.202);
  text-align: left;
  padding: 2em;
}

@keyframes fadeIn {
  to {
    opacity: 1; /* Al final de la animación, establecer la opacidad en 1 */
  }
}



.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  header {
    padding: 5px;
  }

  header picture img {
    padding-left: 1em;
    width: 150px;
  }

  td {
    font-size: 12px; /* Ajustar el tamaño del texto para pantallas más pequeñas */
  }
}

